<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.integration.dao.IomAuthLogMapper">
  <resultMap id="BaseResultMap" type="com.integration.entity.IomAuthLog">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="project_num" jdbcType="VARCHAR" property="projectNum" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="contract_num" jdbcType="VARCHAR" property="contractNum" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="auth_code" jdbcType="VARCHAR" property="authCode" />
    <result column="client_code" jdbcType="VARCHAR" property="clientCode" />
    <result column="register_man" jdbcType="VARCHAR" property="registerMan" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="auth_user_num" jdbcType="INTEGER" property="authUserNum" />
    <result column="auth_door_num" jdbcType="INTEGER" property="authDoorNum" />
    <result column="auth_cabinet_num" jdbcType="INTEGER" property="authCabinetNum" />
    <result column="auth_view_num" jdbcType="INTEGER" property="authViewNum" />
    <result column="auth_scene_num" jdbcType="INTEGER" property="authSceneNum" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="CJR_ID" jdbcType="DECIMAL" property="cjrId" />
    <result column="CJSJ" jdbcType="TIMESTAMP" property="cjsj" />
    <result column="XGR_ID" jdbcType="DECIMAL" property="xgrId" />
    <result column="XGSJ" jdbcType="TIMESTAMP" property="xgsj" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from iom_auth_log
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.integration.entity.IomAuthLog">
    insert into iom_auth_log (id, project_num, project_name, 
      contract_num, version, customer_name, 
      phone, auth_code, client_code, 
      register_man, register_time, valid_date, 
      auth_user_num, auth_door_num, auth_cabinet_num, 
      auth_view_num, auth_scene_num, status, 
      CJR_ID, CJSJ, XGR_ID, 
      XGSJ)
    values (#{id,jdbcType=DECIMAL}, #{projectNum,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{contractNum,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{authCode,jdbcType=VARCHAR}, #{clientCode,jdbcType=VARCHAR}, 
      #{registerMan,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, #{validDate,jdbcType=TIMESTAMP}, 
      #{authUserNum,jdbcType=INTEGER}, #{authDoorNum,jdbcType=INTEGER}, #{authCabinetNum,jdbcType=INTEGER}, 
      #{authViewNum,jdbcType=INTEGER}, #{authSceneNum,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{cjrId,jdbcType=DECIMAL}, #{cjsj,jdbcType=TIMESTAMP}, #{xgrId,jdbcType=DECIMAL}, 
      #{xgsj,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.integration.entity.IomAuthLog">
    update iom_auth_log
    set project_num = #{projectNum,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      contract_num = #{contractNum,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      auth_code = #{authCode,jdbcType=VARCHAR},
      client_code = #{clientCode,jdbcType=VARCHAR},
      register_man = #{registerMan,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      auth_user_num = #{authUserNum,jdbcType=INTEGER},
      auth_door_num = #{authDoorNum,jdbcType=INTEGER},
      auth_cabinet_num = #{authCabinetNum,jdbcType=INTEGER},
      auth_view_num = #{authViewNum,jdbcType=INTEGER},
      auth_scene_num = #{authSceneNum,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      CJR_ID = #{cjrId,jdbcType=DECIMAL},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGR_ID = #{xgrId,jdbcType=DECIMAL},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select id, project_num, project_name, contract_num, version, customer_name, phone, 
    auth_code, client_code, register_man, register_time, valid_date, auth_user_num, auth_door_num, 
    auth_cabinet_num, auth_view_num, auth_scene_num, status, CJR_ID, CJSJ, XGR_ID, XGSJ
    from iom_auth_log
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, project_num, project_name, contract_num, version, customer_name, phone, 
    auth_code, client_code, register_man, register_time, valid_date, auth_user_num, auth_door_num, 
    auth_cabinet_num, auth_view_num, auth_scene_num, status, CJR_ID, CJSJ, XGR_ID, XGSJ
    from iom_auth_log
  </select>
</mapper>